header {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30pt;
}

.city-btn {
    background-color: rgb(219, 220, 224)
}

.form-control {
    border: 1px solid grey;
}

.display-weather {
    border: 2px solid grey;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}
