header {
    background-image: linear-gradient(45deg, #5b90d5 0%, #1027d4 52%, #071f66 90%);
    color: white;
    text-align: center;
    font-size: 30pt;
}

.form-control {
    border: 1px solid grey;
}

.display-weather {
    border: 2px solid grey;
    padding: 20px;
}

.forecast-cards-display {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.weather-data-type {
    padding-left: 20px;
}

.card-one, .card-two, .card-three, .card-four, .card-five {
    background-color: #3377B7;
    color: white;
}

